{% from "_macro.html" import timestamp %}
{% if event.children|count == 1 %}
    {% with event = event.children[0] %}
        {% include "kinds/fanfiction.html" %}
    {% endwith %}
{% else %}
    wrote chapters in {{ event.children|count }} stories
    {{ timestamp(event) }}
    <div class="children">
        <ul>
            {% for child in event.children %}
                <li><a href="{{ child.event_link }}">{{ child.data.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
