<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<title>{% block title %}the collected writings of jesse dubay{% endblock %}</title>
	<meta name="description" content="">
	<meta name="author" content="Jesse Dubay">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link rel="alternate" href="{{ url_for('recent_feed') }}" title="Recent Posts" type="application/atom+xml">

	<script src="js/libs/modernizr-1.7.min.js"></script>
</head>
<body>
	<header>
		<div id="header-inner">
			<h1><a href="{{ url_for('wake') }}">&gt; the collected writings of jesse dubay</a></h1>
		</div>
	</header>

	<div id="container">
		<div id="container-inner">
			<div id="sidebar" role="complementary">
				<!-- Contact panel -->
                <div class="panel" id="contact"> 
                    <div class="panel-head"> 
                        <h2>Contact</h2> 
                    </div> 
                    <div class="panel-body"> 
                        <div class="vcard"> 
                            <div> <!-- Typical info --> 
                                <p><a class="url fn" href="http://www.jessedubay.com/">Jesse Dubay</a> <span class="light">&middot; <span class="role">Web Developer</span></span></p> 
                                <p><a class="email" href="mailto:jesse@thefortytwo.net">jesse@thefortytwo.net</a> (<a class="url" href="xmpp:chat?jid=jesse@thefortytwo.net">gtalk</a>)</p> 
                                <p class="adr"> 
                                    <span class="locality">Portland</span>, <span class="region">Oregon</span>, <span class="country-name">USA</span> 
                                </p> 
                                <p class="tel">+1-541-321-0042</p> 
                            </div> 
                            <div class="geeky"> <!-- The cool stuff --> 
                                <a href="http://www.jessedubay.com/qr.png"><img class="qr" src="http://www.jessedubay.com/qr_small.png" alt="QR Code" title="You can scan this QR code with a mobile device to add me as a contact. Click to enlarge." /></a> 
                                <p><pre class="gpg"><a class="url" href="http://pgp.mit.edu:11371/pks/lookup?search=0x0BECE18F&amp;op=vindex">GPG Fingerprint</a> 
7C50 AACB E19D EDEA 8F31
EFDA C826 1196 0BEC E18F</pre></p> 
                            </div> 
                        </div> 
                    </div> 
                </div> 

				<!-- About panel -->
				<!--
				<div class="panel">
					<div class="panel-head">
						<h2>What's this?</h2>
					</div>
					<div class="panel-body">
						<p></p>
					</div>
				</div>
				-->
			</div>

			<div id="main" role="main">
				{% block stream %}{% endblock %}

				<footer>
					<div id="footer-inner">
						<a id="wake-credit" href="http://github.com/chromakode/wake" title="powered by wake">powered by wake</a>
					</div>
				</footer>
			</div>
		</div>
	</div>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
	<script>!window.jQuery && document.write(unescape('%3Cscript src="{{ url_for('static', filename='js/libs/jquery-1.5.1.min.js') }}"%3E%3C/script%3E'))</script>

	<script src="{{ url_for('static', filename='js/script.js') }}"></script>

	<!--[if lt IE 7 ]>
	<script src="{{ url_for('static', filename='js/libs/dd_belatedpng.js') }}"></script>
	<script> DD_belatedPNG.fix('img, .png_bg');</script>
	<![endif]-->
</body>
</html>
