{% extends "layout.html" %}
{% block stream %}
<ul id="stream">
  {% for event in events %}
    <li class="{{ event.kind }}">
      {% if event.children %}
        {% include ["kinds/" + event.kind + "_multi.html", "kinds/multi.html"] %}
      {% else %}
        {% include ["kinds/" + event.kind + ".html", "kinds/generic.html"] %}
      {% endif %}
    </li>
	{% if loop.last %}
		<li>
			<a id="more" href="{{ url_for('wake', before=event.timestamp - 1) }}">Show more</a>
		</li>
	{% endif %}
  {% endfor %}
</ul>
{% endblock %}
