{% extends "layout.html" %}
{% block stream %}
<div id="stream">
  {% for event in events %}
    <div class="event {{ event.kind }}">
      {% if event.children %}
        {% include ["kinds/" + event.kind + "_multi.html", "kinds/multi.html"] %}
      {% else %}
        {% include ["kinds/" + event.kind + ".html", "kinds/generic.html"] %}
      {% endif %}
	</div>
  	{% if loop.last %}
		<a id="more" href="{{ url_for('wake', before=event.timestamp - 1) }}">Show more</a>
	{% endif %}
  {% endfor %}
</div>
{% endblock %}
