html { overflow-y: scroll }

body
{
	background:url('bg.png');
	color:#333;
	font: normal 12pt "Trebuchet MS", Helvetica, Arial, sans-serif;
	padding:0;
	margin:0;
}

header
{
	background:#3465a4;
	border-bottom:1px solid #204a87;
	text-shadow: rgba(0,0,0,0.2) 2px 2px 1px;
	-webkit-box-shadow: 0px -5px 5px rgba(0,0,0,0.1) inset;
	-moz-box-shadow: 0px -5px 5px rgba(0,0,0,0.1) inset;
}

header h1
{
	text-align:center; 
	margin:0;
	padding:10px;
	color:#fff;
}

header h1 a
{
	color:#fff;
	text-decoration:none;
}

header h1 a:hover { text-decoration:underline }

footer
{
	padding-bottom:50px;
	text-align:center;
}

footer a { vertical-align:middle; color:#888; text-decoration:none }
#wake-credit
{
	width:116px;
	height:16px;
	background-repeat:no-repeat;
	background-image:url('wake.png');
	background-position:right -16px;
	overflow:hidden;
	display:block;
	margin:0px auto;
	text-indent:-9999999px; /* Bleh */
}
#wake-credit:hover { background-position:right 0px }

#stream { max-width: 700px; margin:0 auto; padding:20px }
#stream article
{
	padding:5px 5px 5px 22px;
	text-shadow:0px 1px rgba(255, 255, 255, 0.5); 
	border-bottom:1px solid #bbb;
	background-position: left 7px;
	background-repeat:no-repeat;
}

#stream a, #stream a:visited { text-decoration:none; color:#123 }
#stream a:hover { text-decoration:underline }

#stream time { color:#888; font-size:70% }
#stream blockquote, #stream .panel
{
	text-shadow:none;
	border:1px solid #999;
	background-color:#f3f3f9;
    -moz-border-radius:5px;
	-webkit-border-radius:5px;
	font-size:95%;
	margin:10px 0px;
	padding:0em 1em;
}

#stream article .detail { font-size:80%; display:none }
#stream ul { padding-left:2em }
#stream li { list-style-type:none }
#stream blockquote a { color: #555 !important }

#stream article.flickr img { padding:5px; margin-right:5px; background-color:#eeeeec; border:1px solid #aaa }


/* TODO: embed these into the CSS */
#stream article.github { background-image:url(/static/icon/github.ico) }
#stream article.lastfm { background-image:url(/static/icon/lastfm.ico) }
#stream article.twitter { background-image:url(/static/icon/twitter.ico) }
#stream article.grooveshark { background-image:url(/static/icon/grooveshark.ico) }
#stream article.flickr { background-image:url(/static/icon/flickr.ico) }
#stream article.delicious { background-image:url(/static/icon/delicious.ico) }
#stream article.markdown { background-image:url(/static/icon/markdown.ico) }
