body {
	font:normal 14px/22px sans-serif;
	color:#333;
	margin:30px;
	background:-webkit-gradient(linear, 0 0, 0 400, from(#e6e6e6), to(#fff));
	background:-moz-linear-gradient(top, #e6e6e6, #fff 400px);
}
h1 { border-bottom:1px solid #ccc; padding-bottom:10px }
#stream { list-style-type:none; margin:0px; padding:0px }
#stream li { padding-left:22px; background-position:left 3px; background-repeat:no-repeat }
#stream li li { padding-left:0px; list-style-type:disc }

#stream a, #stream a:visited { text-decoration:none; color:#0971b2 }
#stream a:hover { text-decoration:underline }
#stream time { font-style:italic; color:#888; font-size:80% }

#stream li.flickr img { margin:0px 3px; padding:5px; background:#fff; border:1px solid #ccc }
#stream li.markdown .content { max-width:600px; border:1px solid #ccc; margin:15px; padding:0px 10px }
#stream li.twitter .tweet { color:#888 }
#stream li.github a { color:inherit }

/* TODO: embed these into the CSS */
#stream li.github { background-image:url(/static/icon/github.ico) }
#stream li.lastfm { background-image:url(/static/icon/lastfm.ico) }
#stream li.twitter { background-image:url(/static/icon/twitter.ico) }
#stream li.grooveshark { background-image:url(/static/icon/grooveshark.ico) }
#stream li.flickr { background-image:url(/static/icon/flickr.ico) }
#stream li.delicious { background-image:url(/static/icon/delicious.ico) }
#stream li.markdown { background-image:url(/static/icon/markdown.ico) }
#stream li.reddit { background-image:url(/static/icon/reddit.ico) }
#stream li.fanfiction { background-image:url(/static/icon/fanfiction.ico) }
